{% extends 'base.html.twig' %}

{% block title %}Chantier Listes{% endblock %}

{% block body %}
    <h1>Chantier Listes</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col"> Nom</th>
                <th scope="col">le nombre d’heures cumulés pointés sur ce chantier</th>
                <th scope="col">le nombre de personne pointé sur ce chantier</th>
            </tr>
        </thead>
        <tbody>
        {% for pointages in pointage %}
        {% for chantiers in chantier %}
        <tr>
            <td>{{ chantiers.id }}</td>
            <td>{{ chantiers.Nom }}</td>
            <td>{{ pointages.Duree ? pointages.Duree|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ pointages.Chantier_pointage|length }}</td>

        </tr>
      {% endfor %}
            {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('chantier_new') }}">Create new</a>

{% endblock %}
